/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Entypo Icon Font */
@font-face {
    font-family: 'entypo-selected';
    src: url("../font/entypo-selected.eot");
    src: 
        url("../font/entypo-selected.eot?#iefix") format('embedded-opentype'), 
        url("../font/entypo-selected.woff") format('woff'), 
        url("../font/entypo-selected.ttf") format('truetype'), 
        url("../font/entypo-selected.svg#entypo-selected") format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #333;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

nav{
    background: url("images/london skyline.png") repeat-x fixed;
}

#footerImg{
    background: url("images/london skyline.png") repeat-x fixed;
}